.manga {
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
}

.imagen{
    display: flex;
    justify-content: center;
}

.imagen img {
    width: 100%;
    max-width: 30rem;
    max-height: 40rem;
    margin: 0 auto;
}

.contenido {
    padding: 1rem;
}

.contenido h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--primary);
    text-align: center;
}

.descripcion {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    font-size: 1.8rem;
}

.precio {
    color: var(--primary);
    font-size: 4rem;
    margin: 0;
    font-weight: 900;
}

.enlace {
    margin-top: 2rem;
    display: block;
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    transition-property: background-color;
    transition-duration: 300ms;
}

.enlace:hover {
    background-color: var(--primary);
}

@media (min-width: 768px) {
    .contenido h3 {
        text-align: left;
        font-size: 2rem;
    }
    .precio {
        font-size: 3rem;
    }
}